@import './../../variables.scss';

#my-works {
  display: flex;
  flex-direction: column;
  // background-color: $dark-background;
  padding-top: 36px;
  justify-content: center;
  align-items: center;
  background-image: url('./../../assets/img/bluewaves.webp');
  background-size: cover;

  h1, h2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 46px 0px 0px 0px;
  }

  h2 {
    color: #b9cfff;
    font-size: 18px;
    padding: 10px;
  }

  .all-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .p-card {
      border-radius: 35px;
      margin: 56px 38px;
      width: 420px;
      height: 260px;
      background-color: $dark-blue;

      .p-card-body {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
        
        .p-card-subtitle {
          order: -1;
        }
        
        
        .p-card-content {
            padding-bottom: 0px;

            ul {
              list-style-type: none;
              padding-left: 0px;
            }
            
            .card-buttons {
              display: flex;
              justify-content: space-between;
              align-items: center;
              
              a {
                color: white;
                text-decoration: none;
                margin: 24px 10px 6px 0px;
                justify-content: center;
                padding: 16px 24px;
                border-radius: 25px;
                background-color: $light-blue;
                border: $light-blue;
                font-weight: bold;
              
              }
            
              .github-link {
                margin: 24px 10px 6px 0px;
                padding: 16px 24px;
                border-radius: 25px;
                background-color: transparent;
                border: none;
                color: white;
                text-decoration: underline;
                font-weight: lighter;
              }

              .just-you-wait {
                background-color: transparent;
                border: none;
                color: $lighter-blue;
                font-weight: bold;
                margin-top: 34px;
              }
          }
        }
      }
    }
  }
}

@media (max-width: 1025px) { 
 .card-buttons a {
  font-size: 18px;
 }

 .p-card {
  width: 75% !important;
  height: 275px !important;
 }
}

@media (max-width: 767.98px) {
  #my-works {
    .all-cards {
      display: block;
      align-items: center;
      margin: 0px 15px;
    }
    
    .p-card {
      width: 80% !important;
      padding-bottom: 10px;
      height: auto !important;
      
      .p-card-title {
        margin-top: 10px;
      }
      
      a {
        font-size: 16px;
        padding: 10px 20px !important;
      }
      
      .card-buttons {
        justify-content: space-between;
      }
    }
  }
}