@import './../../global.scss';
@import './../../variables.scss';

.project-page {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-top: 20px;
      font-size: 46px;
      justify-content: center;
    }
    h2 {
      font-size: 30px;
      align-items: center;
    }
  }

  img {
    width: 80%;
    border-radius: 34px;
    margin: 40px;
  }

  .text {
    max-width: 75%;

    h3 {
      margin: 35px 0px 0px 0px;
    }

    hr {
      height: 1px;
      margin: 15px 0px;
    }

    .hr-skills {
      margin-bottom: 25px;
    }

    span {
      padding: 5px 10px;
      border: solid 1px $light-blue;
      border-radius: 15px;
      margin-top: 10px;
      margin-right: 25px;
    }

    ul {
      list-style-type: none;
      padding-left: 0px;
    }

    li {
      margin: 10px 0px;
    }
  }
}