@import './../../variables.scss';

header {
  * {
    text-decoration: none;
  }
  display: flex;
  justify-content:space-between;
  margin: 18px;

  h1 {
    font-size: 46px;
    color: white;
    text-decoration: none;
  }
  
  nav {
    a {
      color: white;
      font-size: 24px;
      padding: 14px;
      margin-top: 80px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media (max-width: 1025px) { 
  nav {
    display: none;
  }
}