@import './../../global.scss';

header {
  display: flex;
  justify-content:space-between;
  margin: 18px;

  h1 {
    font-size: 46px;
    color: white;
  }

  nav {
    a {
      color: white;
      font-size: 24px;
      text-decoration: none;
      padding: 14px;
      margin-top: 80px;
    }
  }
}