@import './../../global.scss';

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 22px;
    color: $light-blue;
  }

  img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(35%) saturate(867%) hue-rotate(181deg) brightness(99%) contrast(102%);
    margin: 10px 20px;
  }
}