@import './../../variables.scss';

#home-content {
  padding-top: 12rem;
  padding-bottom: 120px;
  // margin: 0 12%;

  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 10%;
    z-index: -2;
  }

  .home-content-text { 
    h3 {
      color: gray;
      padding: 12px 0px;
      margin-bottom: 12px;
    }
    
    h1 {
      color: white;
      font-size: 42px;
    }
  }

  .home-content-links {
    margin-top: 48px;

    a {
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      margin-right: 34px;
      border-color: white;
      border: 2px grey solid;
      border-radius: 36px;
      padding: 0.6em 1.2em;
      cursor: pointer;
    }
  }
}

@media (max-width: 1025px) {
  #home-content {

    h1 {
      font-size: 34px;
    }

    overflow: hidden;
    img {
      height: 100vh;
      width: auto;
    }
  
  }
}