@import './variables.scss';


#root {
  width: 100%
}

* {
  margin: 0px;
  font-family: 'Montserrat';
}

#my-works, #about-me, #home-content, #my-skills, header  {
  display: flex;
  justify-content: center;
  align-items: center;

  .main-container {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; /* Initial state */
  animation: fadeInUp 1s ease-in-out forwards; /* Apply animation */
}

.fade-in-two {
  opacity: 0; /* Initial state */
  animation: fadeInUp 1.2s ease-in-out forwards; /* Apply animation */
}

.fade-in-three {
  opacity: 0; /* Initial state */
  animation: fadeInUp 1.4s ease-in-out forwards; /* Apply animation */
}

.fade-in-four {
  opacity: 0; /* Initial state */
  animation: fadeInUp 1.6s ease-in-out forwards; /* Apply animation */
}

.fade-in-five {
  opacity: 0; /* Initial state */
  animation: fadeInUp 3s ease-in-out forwards; /* Apply animation */
}

.fade-in-six {
  opacity: 0; /* Initial state */
  animation: fadeInUp 3.2s ease-in-out forwards; /* Apply animation */
}

.fade-in-seven {
  opacity: 0; /* Initial state */
  animation: fadeInUp 3.4s ease-in-out forwards; /* Apply animation */
}

.glow {
  transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.61), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
}

.glow-blue {
  transition: box-shadow 0.2s ease-in-out;
}

.glow-blue:hover {
  box-shadow: 0 0 5px rgba($lighter-blue, 0.8), 0 0 10px rgba($lighter-blue, 0.6), 0 0 15px rgba($lighter-blue, 0.4);
}

header .main-container {
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1025px) {
  #my-works, #about-me, #home-content, #my-skills, header {
    .main-container {
      max-width: 650px;
    }
  }
}