@import './../../global.scss';

#about-me {
  text-align: center;
  padding: 64px 0px;
  background-color: $dark-background;

  img {
    width: 380px;
  }

  .me-content {
    margin: 128px;
    display: flex;
    justify-content: space-around;
  }

  p {
    margin: 54px 20px;
    font-size: 20px;
  }

  .contact a {
    padding: 24px;
    background-color: $light-blue;
    border-radius: 46px;
    margin: 46px;
    color: white;
    text-decoration: none;
  }
}