@import './../../variables.scss';

#about-me {
  text-align: center;
  padding: 64px 0px;
  background-color: $dark-background;

  img {
    width: 380px;
  }

  .me-content {
    margin: 128px 0px;
    display: flex;
    justify-content: space-around;
  }

  .me-text { 
    margin-left: 250px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;

    .me-title {
      display: flex;
      flex-direction: column;
      align-items: start;

      h3 {
        order: -1;
        color: $light-blue
      }
    }

    p {
      // margin-top: 20px;
      font-size: 16px;
      text-align: justify;
    }
    
    .contact a {
      padding: 24px;
      background-color: $light-blue;
      border-radius: 46px;
      margin-right: 46px;
      color: white;
      text-decoration: none;
    }
  }
}